body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: radial-gradient(circle, #243b55, #141e30);
  color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container {
  text-align: center;
}

.countdown-container h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  background: repeating-linear-gradient(
    60deg,
    #1bcc88,
    #1bcc88,
    #2781d0,
    #b13fc5,
    #e0593b,
    #f2ba38,
    #1bcc88,
    #1bcc88
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: backgroundGradient infinite alternate 6s;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  font-size: min(3vmin, 20px);
}

.time-unit {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 1em 1.5em;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
}

.time-unit span {
  font-size: 2em;
  font-weight: bold;
  color: #f2ba38;
}

.time-unit p {
  font-size: 1em;
  margin: 0.5em 0 0;
  color: #ccc;
}

.celebration {
  text-align: center;
}

.celebration-message {
  font-size: 3em;
  color: #f2ba38;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: repeating-linear-gradient(
      60deg,
      #1bcc88,
      #1bcc88,
      #2781d0,
      #b13fc5,
      #e0593b,
      #f2ba38,
      #1bcc88,
      #1bcc88
    );
    animation: backgroundGradient 4s linear infinite;
    background-size: 200%;
    filter: blur(100px);
  }
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%; /* Moves smoothly, not resetting */
  }
}
/* 
@keyframes fluctuateBlur {
  0% {
    filter: blur(0px);
  }
  25% {
    filter: blur(5px);
  }
  50% {
    filter: blur(10px);
  }
  75% {
    filter: blur(3px);
  }
  100% {
    filter: blur(7px);
  }
} */

.footnote {
  font-size: 3vmin;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
